@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    [Parameter] public int currentCount {get;set;} = 0;
    [Parameter] public EventCallback<int> OnChangeCount { get;set; }

    private async Task IncrementCount()
    {
        currentCount++;
        await OnChangeCount.InvokeAsync(currentCount);
    }
}
